.tags-menu{
    box-sizing: border-box;
    border-radius: 15px;
    background-color: white;
    width: 60vw;
    padding: 20px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
    display: inline-block;
    
}
.tags-menu__button-add{
    border-radius: 100px;
    width:80px;
    height: 30px;
    position: relative;
    color: rgb(219, 219, 222);;
    border: 0;
    
}